.Pokecard {
    background-image: linear-gradient(to right, 
    #eea2a2 0%, 
    #bbc1bf 19%, 
    #57c6e1 42%, 
    #b49fda 79%, 
    #7ac5d8 100%
);    
box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
width: 300px;
border-radius: 1rem;
margin: 1rem;
padding: 1rem;
}

.Pokecard-title{
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}


.Pokecard-image{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 250px;
   margin-bottom: 1rem;
} 

.Pokecard-image img {
    width: 250px;
    opacity: 0.9;
    margin-bottom: 1rem;
    transition: all ease 500ms;
}

.Pokecard-image img:hover{
    opacity: 1;
    transform: scale(1.25);
}

.Pokecard-data{
    font-size: 80%;
}